@page "/"
@page "/{coden}"
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager MyNavigationManager
@inject IJSRuntime JSRuntime;

<PageTitle>@FriendryName - StudioSync</PageTitle>

@code{

    List<ChatEntry> chats = new List<ChatEntry>();
    System.Timers.Timer Timer = new System.Timers.Timer(1000);
    private ElementReference canvasElement;
    string ChatSendingText = "";
    string NowTime = "00:00:00";
    string MainTime = "00:00";
    string NewSyncCode = "";
    string FriendryName = "スタジオ";
    string ConnectionAddress = "https://api.wsoft.ws/studio-sync/connect";
    Progress UsingProgress = null;
    DateTime TimeLimit = DateTime.MinValue;
    TimeSpan CountUp = TimeSpan.Zero;
    TimeSpan TimeMax = TimeSpan.Zero;
    int cd = -1;
    bool timering = false;
    bool finish = false;
    string Script="3:00";
    bool IsConnected => hubConnection?.State == HubConnectionState.Connected;
    string SynchroCode = "";
    HubConnection hubConnection;

    [Parameter]
    public string coden{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        Timer.Elapsed +=  async (object? sender, System.Timers.ElapsedEventArgs e)=>
        {
            DateTime time = DateTime.Now;
            NowTime = time.ToString("hh:mm:ss");
            if (finish)
            {
                MainTime = "00:00";
            }
            else

            if (timering)
            {
                TimeMax -= TimeSpan.FromSeconds(1); CountUp += TimeSpan.FromSeconds(1);
                MainTime = TimeMax.Minutes + ":"+TimeMax.Seconds;
                if (TimeMax == TimeSpan.Zero)
                {
                    timering = false;
                    finish = true;
                }

            }else
            if (cd != -1)
            {
                cd--;
                MainTime = "00:0"+cd;
                if (cd == 0)
                {
                    cd = -1;
                    timering = true;
                    finish = false;
                }
            }else
            if (TimeLimit.Minute == time.Minute && TimeLimit.Second == time.Second)
            {
                TimeMax = UsingProgress.Total;
                //タイマー開始
                cd = 3;
                MainTime = "00:0"+cd;
            }
            StateHasChanged();
        };
        Timer.Start();

        var hub2 = new HubConnectionBuilder();
        hubConnection = hub2.WithUrl(ConnectionAddress).WithAutomaticReconnect().Build();
        hubConnection.On<string,string>("ReciveMessage", (string name, string message) =>
    {
        var ct_e = new ChatEntry();
        ct_e.Name = name;
        ct_e.Content = message;
        ct_e.Recived = DateTime.Now;
        chats.Add(ct_e);

    });
        hubConnection.On<string>("Sync", (string script) =>
        {
            Script = script;

        });
        hubConnection.On<string>("TimerStart", (string script) =>
        {
            Script = script;
            UsingProgress = new Progress(script);
            TimeMax = UsingProgress.Total;
            //タイマー開始
            cd = 3;
            MainTime = "00:0" + cd;
            /*
            NowTime = "シンクロ中";
            string raw = script.Split('|')[1];
            string d = script.Split('|')[0];
            Script = raw;
            UsingProgress = new Progress(raw);
            TimeLimit = DateTime.Parse(d);
        */
        });
        hubConnection.On("TimerPause", () =>
        {
            timering=false;
            finish = true;
        });
        await hubConnection.StartAsync();
        if (string.IsNullOrEmpty(coden))
        {
            Random random = new Random();
            SynchroCode = (random.Next(100000, 999999)).ToString();
        }
        else
        {
            SynchroCode = coden;
            await hubConnection.InvokeAsync("Send","システム",FriendryName+"が参加しました", SynchroCode);
        }
        await hubConnection.InvokeAsync("Join",SynchroCode);

    }
    async void OnNewSync()
    {
        if (string.IsNullOrEmpty(NewSyncCode))
        {

        }
        else
        {
            await hubConnection.InvokeAsync("Bye", SynchroCode);
            chats.Clear();
            var ce = new ChatEntry();
            ce.Name = "システム";
            ce.Content = "参加先を変更しました";
            ce.Recived = DateTime.Now;
            chats.Add(ce);
            SynchroCode = NewSyncCode;
            await hubConnection.InvokeAsync("Send", "システム", FriendryName + "が参加しました", SynchroCode);
        }
        await hubConnection.InvokeAsync("Join", SynchroCode);
    }
    async void OnChatSend()
    {
        if (!string.IsNullOrEmpty(ChatSendingText))
        {
            await hubConnection.InvokeAsync("Send", FriendryName, ChatSendingText,SynchroCode);
            ChatSendingText = string.Empty;
        }
    }
    async void OnConnectionChange()
    {
        if (IsConnected)
        {
            await hubConnection.StopAsync();
        }
        await hubConnection.StartAsync();
    }
    async void OnSaveSync()
    {
        await hubConnection.InvokeAsync("SaveSync",Script,SynchroCode);
    }
    async void OnTimerStart()
    {
        var progress = new Progress(Script);
        await hubConnection.InvokeAsync("Send", FriendryName,progress.Total.Minutes+":"+progress.Total.Seconds+"のタイマーを開始しました", SynchroCode);
        //タイマー同期時刻を計算
        var dt = DateTime.Now;
        dt=dt.AddSeconds(5);
        //計算した時刻でタイマーを開始するよう広告
        await hubConnection.InvokeAsync("TimerStartAd",Script, SynchroCode);
    }
    async void OnTimerPause()
    {
        await hubConnection.InvokeAsync("TimerPauseAd",SynchroCode);
    }
}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">StudioSync</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item">
                    <input class="form-control me-2" @bind="FriendryName" type="text" placeholder="このデバイスの名前" aria-label="このデバイスの名前">
                </li>

            </ul>
            <div class="d-flex">
                @if (IsConnected)
                {
                    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#connectionModal"><i class="bi bi-wifi"></i></button>
                }
                else
                {
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#connectionModal"><i class="bi bi-wifi-off"></i></button>
                }
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h3>台本ビュー &nbsp; <button type="button" onclick="@OnSaveSync" class="btn btn-primary">保存</button></h3>
            <textarea class="form-control" style="height: 100%;" @bind="Script" aria-label="With textarea" placeholder="//台本をここに入力します"></textarea>
        </div>
        <div class="col-4">
            <h3>タイマービュー</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <p>現在時刻</p>
                        <h2>@NowTime</h2>
                    </div>
                    <div class="col-6">
                        <p>次のシーン/終了まで</p>
                        <h2>00:00</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center fs-4">「「コーナー名」」</p>
                        <p class="text-center" style="font-size: 100px;">@MainTime</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" @onclick="OnTimerPause" class="btn btn-danger"><i class="bi bi-square-fill"></i></button>
                        <button type="button" @onclick="OnTimerStart" class="btn btn-success"><i class="bi bi-caret-right-fill"></i></button>
                    </div>
                </div>
                <hr />
                <div class="input-group mb-3">
                    <input type="text" @bind="ChatSendingText" class="form-control" placeholder="メッセージを送信" aria-label="メッセージを送信" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2" @onclick="OnChatSend"><i class="bi bi-send"></i></button>
                </div>
                <hr/>
                <h3>シンクロ</h3>
                <p>この@(FriendryName)と接続するには、シンクロコード<b>@SynchroCode</b>を使用するか、下記のQRコードをスキャンします。</p>
                <p class="text-center">
                    <img src="@("https://api.qrserver.com/v1/create-qr-code/?data="+ System.Web.HttpUtility.UrlEncode(MyNavigationManager.BaseUri)+SynchroCode+"&size=200x200")" alt="QRコード" />
                </p>
                <p>もしくは、シンクロコードを使って他のセッションに参加することもできます</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" @bind="NewSyncCode" placeholder="シンクロコード" aria-label="シンクロコード" aria-describedby="button-addon22">
                    <button class="btn btn-outline-primary" @onclick="OnNewSync" type="button" id="button-addon22">シンクロ</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h3>チャットビュー</h3>
            <div class="overflow-scroll" style="height :80vh" id="chat">
                
                @foreach(var chat in chats)
                {
                    <DynamicComponent Type="typeof(ChatEntry)" Parameters="@(new Dictionary<string,object>{["Name"]=chat.Name,["Content"]=chat.Content,["Recived"]=chat.Recived})"/>
                }

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="connectionModal" tabindex="-1" aria-labelledby="connectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="connectionModalLabel">この接続について</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="connection-status">
                    @if (IsConnected)
                    {
                        <p>ステータス:<b>接続済み</b></p>
                        <p>現在、この端末は@(ConnectionAddress)に接続しています。</p>
                        <p>台本やタイマーを同期、チャットの送受信を行うことができます。</p>
                        <p>接続IDは<b>@(hubConnection.ConnectionId)</b>で、セッションIDは<b>@(SynchroCode)</b>です。</p>
                    }
                    else
                    {
                        <p>ステータス:<b>接続していません</b></p>
                        <p>現在、この端末は@(ConnectionAddress)に接続していません。</p>
                        <p>現在、台本やタイマーを同期、チャットの送受信を行うことができません。</p>
                        <p>自動的に接続を再試行します。それでも上手くいかない場合は、接続先の変更が必要な場合があります。</p>
                    }
                </div>
                <hr/>
               <div id="connection-setting">
                   <h6>接続先の変更</h6>
                   <p>接続できない場合は、StudioSyncServerのアドレスを変更することで接続できるようになることがあります。</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" @bind="ConnectionAddress" placeholder="接続先アドレス" aria-label="接続先アドレス" aria-describedby="button-addon23">
                        <button class="btn btn-outline-primary" @onclick="OnConnectionChange" type="button" id="button-addon23">接続</button>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
